*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar
{
    background-color: #000;
}

/* a.navbar-item img {
    background-color: black;
} */


p.is-size-1.block {
    text-transform: capitalize;
    font-weight: bold;
    /* font-size: 143px; */
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.section {
    background-image: url(../images/black_paper.png);
}

section.second {
    background-image: url(../images/black_paper.png);
}

section.hero {
    background-image: url(../images/paper_3.png);
}

.forth
{
    background-image: url(../images/black_paper.png);
}

.block.mt-4.inquairy_section {
    background-image: url(../images/paper_3.png);
}

/* .main
{
    background-color: black;
} */