/* ! debug.css
*:not(path):not(g) {
    color: hsla(210, 100%, 100%, 0.9) !important;
    background: hsla(210, 100%, 50%, 0.5) !important;
    outline: solid 0.25rem hsla(210, 100%, 100%, 0.5) !important;
} */

* {
  margin: 0;
  padding: 0;
}

.navcolor {
  background-color: #ffffff;
}
.headerfont {
  color: #575757;
  font-size: 14px;
}
.btncolor {
  background-color: #ff4500;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}
h6 {
  color: grey;
}
.vwcolor {
  color: #2c3f69;
  font-size: 20px;
  font-weight: 600;
}
/*statue of unity images  */
.containerimg {
  position: relative;
  text-align: center;
}
.header-phone {
  display: none;
}
@media screen and (max-width: 991px) {
  .header-phone {
    display: block;
  }
}
.centered {
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}
.statistics-section {
  background-image: url(./img/statistics-bg.jpg);
  background-attachment: fixed;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 60px;
}
.statistic-header {
  text-align: center;
  padding-bottom: 45px;
  border-bottom: 4px solid #c2162c;
  margin: 0 5% 60px;
}
.content {
}
.text-large {
  font-size: 60px;
}

/* hover tab */
.tabcontent {
  float: left;
  padding: 0px 12px;
  border: 1px solid #ccc;
  width: 70%;
  border-left: none;
  height: 300px;
  display: none;
}

/* Clear floats after the tab */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.zoom:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5);
}
/* background images */
.bgimage {
  background: url(./img/about-6.jpg) no-repeat center;
  background-size: cover;
  /* height: 100vh; */
  position: relative;
  background-attachment: fixed;
}

.transboxcol {
  color: #0e0e0e;
}
/* barnd images hover effect */
/* 
  .thumbnail:hover {
    transition: transform 0.3s ease-in-out;
    opacity: 0.5;
    transform: scale(1.2);
    } */

/* slider card*/
.imgbg {
  background-image: url(./img/tra-city.png);
  background-color: #f8f9fb;
  padding-top: 100px;
  padding-bottom: 100px;
  background-position: bottom;
}

.wrapper {
  max-width: 1100px;
  width: 100%;
  position: relative;
}

.wrapper i {
  height: 50px;
  width: 50px;
  background: rgb(118, 233, 118);
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: 50%;
  font-size: 1.25 rem;
  transform: translateY(-50%);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
}

.wrapper i:first-child {
  left: -22px;
}

.wrapper i:last-child {
  right: -22px;
}

.wrapper .carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 12px);
  gap: 16px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: 0;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel :where(.card, .img) {
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}

.carousel.no-transition {
  scroll-behavior: auto;
}

.carousel.dragging .card {
  cursor: grab;
  user-select: none;
}
.service-section .card-body {
  padding: 0;
}
.service-section .six-card-align i {
  color: #757575;
  font-size: 55px;
}
.service-section .six-card-align h5 {
  color: black;
}

.carousel .card {
  scroll-snap-align: start;
  height: 340px;
  list-style: none;
  background: #fff;
  border-radius: 8px;
  display: flex;
  cursor: pointer;
  width: 98%;
  padding-bottom: 15px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#carouselExampleDark .carousel-title {
  font-size: 60px;
}
@media screen and (max-width: 767px) {
  #carouselExampleDark .carousel-title {
    font-size: 30px;
  }
}

.card .img {
  background: green;
  width: 145px;
  height: 145px;
  border-radius: 50%;
}

.card .img img {
  width: 140px;
  height: 140px;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #fff;
}

.card h2 {
  font-weight: 500;
  font-size: 1.56rem;
  margin: 30px 0 5px;
}

.card span {
  color: #6a6d78;
  font-size: 1.31rem;
}

@media screen and (max-width: 900px) {
  .wrapper .carousel {
    grid-auto-columns: calc((100% / 2) - 9px);
  }
}

@media screen and (max-width: 600px) {
  .wrapper .carousel {
    grid-auto-columns: 100%;
  }
}
/*request form section */
.requestform {
  background: url(./img/requestform.jpg) no-repeat center;
  display: flex;
  background-size: cover;
  height: 100vh;
  position: relative;
  opacity: 50;
}

.six-card-align {
  border: 1px solid #e5e5e5;
  border-radius: 6px;
  padding: 30px 25px;
  transition: all 300ms ease;
}
.six-card-align:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.youtube_icon {
  position: absolute;
  top: 50%;
  right: -30px;
  transform: translateY(-50%);
  padding: 30px;
  background-color: #fff;
  border: 1px solid #f5f5f5;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  color: #f12a02;
}
@media screen and (max-width: 575px) {
  .youtube_icon {
    right: 0;
  }
}
.youtube_icon_parent {
  position: relative;
}

@media screen and (max-width: 767px) {
  .nav_mobile {
    justify-content: space-between;
    flex-direction: row-reverse;
    padding-inline: 15px;
  }
  .mobile_hide_nav {
    display: none;
  }
  .slider_images {
    height: 509px;
  }
  .card_mobile_fullwidth {
    display: block;
  }
  .cards_main_parent .card {
    width: unset !important;
  }
}
.country-row .card img {
  transition: all 400ms ease-in-out;
}
.country-row .card:hover img {
  transform: scale(1.2);
}
.image-overlay {
  opacity: 0;
  -moz-opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(10, 10, 10, 0.5);
  -webkit-transition: all 400ms ease-in-out;
  -moz-transition: all 400ms ease-in-out;
  -o-transition: all 400ms ease-in-out;
  -ms-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}
.country-row .card:hover .image-overlay {
  opacity: 1;
}
.uni-row .card {
  border: 1px solid #fff;
  padding: 30px 25px;
  box-shadow: 0 0 0 1px rgba(56, 60, 67, 0.05),
    0 1px 3px 0 rgba(56, 60, 67, 0.15);
  transition: all 450ms ease-in-out;
}
.uni-row .card:hover {
  background-color: #fff;
  border: 1px solid #f5f5f5;
  box-shadow: 0 0 0 1px rgba(56, 60, 67, 0.07),
    0 8px 14px 1px rgba(56, 60, 67, 0.15);
}
.uni-row .card-body {
  padding: 0;
}

.country-btns button {
  color: #aaa;
  transition: all 400ms ease-in-out;
}
.country-btns button:hover,
.country-btns button.active-btn {
  color: #2972d1;
}
.testimonial-card {
  padding: 40px 30px;
  border-radius: 6px;
  margin: 10px 8px 20px;
  background-color: #fbfcfd;
  border: 1px solid #f5f5f5;
  box-shadow: 0 0 0 1px rgba(56, 60, 67, 0.05),
    0 1px 3px 0 rgba(56, 60, 67, 0.15);
}

.testimonial-upper {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.testimonial-upper img {
  height: 75px;
  width: 75px;
  border-radius: 50%;
  margin-right: 15px;
}
.testimonial-metadata h6 {
  color: #000;
  font-size: 16px;
  font-weight: 800;
  margin-bottom: 0;
}
.testimonial-metadata span {
  color: #888;
}
.testimonial-content {
  font-style: italic;
  color: #757575;
}
.blog-section .card {
  border: 0;
  margin-bottom: 40px;
}
.blog-section .card img {
  margin-bottom: 30px;
}
.blog-section .card-body {
  padding: 0;
}
.blog-section .card-body .card-text {
  color: #666;
}
.blog-section .card-body h5 {
  color: #2c3f69;
  transition: all 300ms ease-in-out;
  font-size: 22px;
  font-weight: 800;
}
.blog-section .card-body h5:hover {
  color: #0056b3;
}
