/* #hero {
    background: url(./images/hero-bg.png);
    height: 1079px;
    background-position-x: center;
    background-size: cover;
}

#hero .navbar.is-transparent {
    background-color: transparent;
} */